body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #00bcd4;
    color: white;
    padding: 50px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 5;
    margin: 5;
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #03a9f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0288d1;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.section-content {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
    
}
.section-contentt {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
    
}
.titulo video{
    text-align: center;
    font-size: 22;
}

.section-contenttt {
    
 display: flex;
 justify-content: center;
  align-items: center;
  margin: 20px 0; 
}
.section-content:hover {
    transform: translateY(-5px);
}

.cta {
    background-color: #00acc1;
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #0097a7;
}

.cta a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0288d1;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta a:hover {
    background-color: #0277bd;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.social-media a {
    color: #00bcd4;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #03a9f4;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 5px solid #00bcd4;
}

footer p {
    margin: 5px 0;
}

